---
name: CI

# Controls when the workflow will run
'on':
  pull_request:
  push:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

  schedule:
    - cron: "0 5 * * 0"

jobs:

  lint:
    name: Lint
    defaults:
      run:
        shell: bash
        working-directory: ${{ vars.WORKING_DIR }}
    runs-on: ubuntu-latest
    steps:
      - name: Check out the codebase.
        uses: actions/checkout@v4
        with:
          path: ${{ vars.WORKING_DIR }}

      - name: Set up Python 3.
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install test dependencies.
        run: pip3 install yamllint

      - name: Lint code.
        run: |
          yamllint -c .yamllint .

  molecule:
    name: Molecule
    defaults:
      run:
        shell: bash
        working-directory: ${{ vars.WORKING_DIR }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        distro:
          - ubuntu2404
          - ubuntu2204
          - debian13
          - debian12
          - fedora43
          - fedora42

    steps:

      - name: Check out the codebase.
        uses: actions/checkout@v4
        with:
          path: ${{ vars.WORKING_DIR }}

      - name: Set up Python 3.
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install test dependencies.
        run: pip3 install ansible molecule molecule-plugins[docker] docker netaddr

      - name: Run Molecule tests.
        run: molecule test
        env:
          PY_COLORS: '1'
          ANSIBLE_FORCE_COLOR: '1'
          MDRIVER: 'docker'
          MOLECULE_DISTRO: ${{ matrix.distro }}
